@import './../../node_modules/choices.js/public/assets/styles/choices.min.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/atkinson-hyperlegible-v7-latin-regular.woff2')
        format('woff2'),
        url('../fonts/atkinson-hyperlegible-v7-latin-regular.woff')
        format('woff');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/atkinson-hyperlegible-v7-latin-700.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-v7-latin-700.woff') format('woff');
}

[x-cloak] {
    display: none;
}

html {
    scroll-behavior: smooth;
}

:focus {
    @apply outline-none ring-1 ring-primary !important;
}

.required label::after {
    content: ' *';

    @apply text-red-700;
}

.ProseMirror {
    @apply outline-none ring-0 !important;
}

.flex > .choices {
    width: 100%;
}

.choices {
    @apply mt-1 mb-0;
}

.choices .choices__inner {
    @apply bg-white border-gray-300 rounded-md shadow-sm;
}

.choices__input {
    @apply bg-transparent p-1 !important;
}

.choices__input:focus {
    @apply ring-0 !important;
}

.choices__list--multiple .choices__item {
    @apply bg-primary border-primary-dark;
}

.choices[data-type*='select-multiple'] .choices__button,
.choices[data-type*='text'] .choices__button {
    @apply border-l-primary-dark;
}

.choices__list--multiple .choices__item.is-highlighted {
    @apply bg-primary-dark border-primary-dark;
}
