.form-group.required label::after {
    content: '*';
    color: #f00;
}

fieldset {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 16px;
}

input.related-tagify,
input.simple-tagify,
input.tagify-select {
  border-radius: .2rem;
  border: 1px solid #ced4da;
  display: block;
  padding: .25rem .5rem;
  width: 100%;
}

.tagify {
  background-color: #fff;
  border-radius: .2rem;
  border: 1px solid #ced4da;
}

.tagify__tag {
  background-color: $blue;
}

.tagify__tag > div {
  color: #fff;
}

.tagify__tag > div::before {
  box-shadow: 0 0 0 1.1em $blue inset;
}

.tagify__tag:hover:not([readonly]) div::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 0 1.1em $cyan inset;
}

.tagify__tag__removeBtn {
  color: #fff;
}

.hidden-tagify-remove .tagify__tag__removeBtn {
  display: none;
}


