.form-group.required label::after {
    content: '*';
    color: #f00;
}

fieldset {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 16px;
}

.multiselect__tags {
    @include border-radius($input-border-radius-sm);
    border: $input-border-width solid $input-border-color;
    color: $input-color;
    line-height: $input-line-height-sm;
    min-height: calc(1.5em + 0.5rem + 2px);
    padding: $input-padding-y-sm $input-padding-x-sm;
}

.multiselect__tag {
    margin-bottom: 0;
}

.multiselect__input,
.multiselect__single {
    background: transparent;
    @include font-size($input-font-size-sm);
}

.multiselect__single {
    margin-bottom: 0;
    padding: 0;
}

.multiselect__placeholder {
    margin-bottom: 2px;
}

.multiselect__content-wrapper {
    border: $input-border-width solid $input-border-color;
}
