.mw-400 {
    max-width: 400px;
}

.mw-200 {
    max-width: 200px;
}

.not-allowed {
    cursor: not-allowed;
}

.pointer {
    cursor: pointer;
}

.is-link {
    color: $link-color;
    cursor: pointer;
    text-decoration: $link-decoration;
}

.is-link:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
}
